body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  min-width: 400px;
  min-height: 100px;
  background: rgba(0, 0, 0, 0.02);
}

#message_list {
  margin: 10px 10px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.60);
}

#abst{
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  color: #222;
  padding-left: 10px;
}

#update{
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

#list {
  padding: 5px 8px;
}

.time{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.own-time{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.room a {
  text-decoration: none !important;
  color: #83756f !important;
  font-weight: bold !important;
}

.avatar img {
  padding: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.msg {
  width: 100%;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.from-now {
  color: #aaa;
}

a {
  color: #4183c4;
  text-decoration: none;
}

