.title {
  width: 70px;
}

.url {
  width: 280px;
}

.room-link,
.room-link label{
  text-decoration: none !important;
  color: #83756f !important;
  font-weight: bold !important;
  cursor: pointer;
}

.destroy {
  text-decoration: none !important;
}

#room_list{
  margin: 10px 10px;
}

.check_explain{
  color: gray;
}


