<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/room_list.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/chrome-bootstrap.css">
  </head>
  <body class="chrome-bootstrap">
    <div>
      <table v-show="exist_messages" id="message_list">
        <tr v-repeat="messages">
          <td class="room"><a v-attr="href:'{{room_url}}'" v-text="room" target="_devhub"></a></td>
          <td v-show="!avatar" class="name" nowrap>{{name}}</td>
          <td v-show="avatar" class="avatar" nowrap><img v-attr="src:'{{avatar}}', alt:'{{name}}'"></td>
          <td class="msg">{{msg}}</td>
          <td class="from-now" nowrap>{{date | fromNow}}</td>
        </tr>
      </table>

      <div id="room_list">
        <input
          type="text"
          id="new_title"
          class="title"
          autofocus
          autocomplete="off"
          placeholder="Title"
          v-model="newTitle"
          v-on="keyup:addUrl| key enter"
        >
        <input
          type="text"
          id="new_url"
          class="url"
          autofocus
          autocomplete="off"
          placeholder="URL"
          v-model="newUrl"
          v-on="keyup:addUrl| key enter"
        >
        <ul>
          <li v-repeat="urls">
            <a v-attr="href: url" class="room-link" target="_devhub">
              <input type="checkbox" v-model="notify"></input> <label v-text="title"></label> - <label v-text="url"></label>
            </a>
            <a class="destroy" v-on="click: removeUrl(this)">x</a>
          </li>
        </ul>
        <div class="check_explain">Check to enable notification.</div>
      </div>
    </div>
  </body>
  <script src="js/jquery.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/storage.js"></script>
  <script src="js/room_list.js"></script>
  <script src="js/popup.js"></script>
</html>

